<!DOCTYPE html>
<html>
  <head>
    <title>Memorable quotes from {{channel|e}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/quotes.css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if analytics %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{analytics}}']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
  </head>
  <body>
    <header>
      <h1>Memorable quotes from {{channel|e}}</h1>
    </header>
    {% for quote in quotes %}
    <article id="{{quote.date_simple}}">
    <a href="#{{quote.date_simple}}"><h2>{{quote.date_pretty|e}} by {{quote.sender|e}}</h2></a>
    <pre>
      {{quote.quote|e|indent(6)}}
    </pre>
    </article>
    {% else %}
    <h2>No quotes to show</h2>
    {% endfor %}
    
    <nav id="pagination">
    {% if page > 1 %}
      <a href="?p={{page - 1}}">prev</a>
    {% endif %}
    {% for p in range(pages) %}
    <a href="?p={{ p+1 }}">{{ p+1 }}</a>
    {% endfor %}
    {% if page <= pages - 1  %}
      <a href="?p={{page + 1}}">next</a>
    {% endif %}
    </nav>
  </body>
</html>
