<!DOCTYPE html>
<html>
  <head>
    <title>Memorable quotes from {{channel|e}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/quotes.css">
  </head>
  <body>
    <header>
      <h1>Memorable quotes from {{channel|e}}</h1>
    </header>
    {% for quote in quotes %}
    <article id="{{quote.date_simple}}">
    <a href="#{{quote.date_simple}}"><h2>{{quote.date_pretty|e}} by {{quote.sender|e}}</h2></a>
    <pre>
      {{quote.quote|e|indent(6)}}
    </pre>
    </article>
    {% endfor %}
  </body>
</html>
